.bordeDiv {
    border: 2px solid #0000001e; /* Borde de 2px de grosor, de color negro */
}

.containerMiRed {
    padding: 15px 3%;
}

.left-sidebarMiRed {
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}

.main-containerm {
    display: flex;
    justify-content: center;  /* Centra el contenido horizontalmente */
    gap: 10px; /* Espacio entre los elementos */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    padding: 0 20px; /* Agrega un poco de espacio en los laterales */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}

.main-contentMiRed {
    padding: 10px;
    background-color: #f8f9fa; /* Fondo opcional */
    height: auto; /* Ajusta la altura si es necesario */
    max-width: 1200px; /* Limita el ancho del contenedor */
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a los extremos */
    align-items: center; /* Centra los elementos verticalmente */
    width: 100%; /* Asegura que el navbar ocupe el ancho completo del contenedor */
}

.flex-container {
    display: flex; /* Usa Flexbox para distribuir los bloques */
    gap: 10px; /* Espacio entre los bloques */
    justify-content: space-between; /* Distribuye los bloques en el espacio disponible */
    align-items: center; /* Alinea las imágenes y nombres verticalmente */
}

.flex-item {
    flex: 1; /* Hace que cada bloque ocupe el mismo espacio disponible */
    padding: 20px;
    background-color: lightgray;
    text-align: center;
}

.image-container {
    display: flex; /* Para organizar imagen y nombre */
    flex-direction: column; /* Coloca los elementos (imagen y nombre) en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
}

.image-container img {
    width: 100px; /* Puedes ajustar el tamaño de las imágenes */
    height: 100px; /* Puedes ajustar el tamaño de las imágenes */
    border-radius: 50%; /* Hace que la imagen sea redonda */
}

.image-container p {
    margin-top: 8px; /* Espacio entre la imagen y el nombre */
    font-weight: bold; /* Estilo del texto */
    font-size: 16px; /* Tamaño de fuente ajustable */
}

.Pcontainer {
    padding-top: 5px;
    margin-top: 8px; /* Espacio entre la imagen y el nombre */
    font-weight: bold; /* Estilo del texto */
    font-size: 16px; /* Tamaño de fuente ajustable */
    color:rgb(42, 42, 145);
}

.tableGestion {
    color: antiquewhite;
}

.aHref {
    color: rgba(0, 0, 0, 0.747);
}